@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap');

body{
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

::-webkit-scrollbar{
  display: none;
}

.App{
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 7px;
}

.bubble{
  background: #16161D;
  margin-top: 5px;
  margin-bottom: 5px;
  color: whitesmoke;
  padding: 17px;
  border-radius: 12px;
  min-width: auto;
  text-align: left;
  font-size: 25px;
  line-break: auto;
  font-family: 'Corben', cursive;
}

.textInput{
  background: #00b140;
  margin-top: 45px;
  margin-bottom: 5px;
  color: #16161D;
  padding: 12px;
  border-radius: 12px;
  min-width: auto;
  text-align: center;
  border: none;
}

.textInput:focus{
  border: none;
  outline: none;
}